<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatSystem.Data.MessageManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatSystem.Data.MessageManager.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>mongodb://chatUser:parola@ds063769.mongolab.com:63769/chatsystem</value>
            </setting>
            <setting name="databaseName" serializeAs="String">
                <value>chatsystem</value>
            </setting>
        </ChatSystem.Data.MessageManager.Settings>
    </userSettings>
</configuration>