#wrapper {
}
canvas {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}
label {
    display: block;
}
#input-size {
    display: inline-block;
    width: 50px;
    top: -350px;
    left:10px;
}

button {
    display: inline-block;
    position: relative;

}