<div class="container-fluid text-center">
    <h1>
        Welcome to Trip Exchange
    </h1>
    <h4>Find your way home</h4>
</div>
<div class="text-center container-fluid">
    </hr><div class="text-center">
    Trips: {{ stats.trips }}
    Finished trips: {{ stats.finishedTrips }}
    Users: {{ stats.users }}
    Drivers: {{ stats.drivers }}
</div>
    </hr>
</div>
<div>
    <div driver-directive class="col-md-6">
    </div>
    </hr>
    <div trip-directive class="col-md-6">
    </div>
</div>

