<div class="container">

    <form ng-show="isAuthenticated">
        From:
        <select class="input-sm" ng-click="byCity(page,from, toCity)" ng-model="from" ng-options="city for city in cities"></select>
        To:
        <select class="input-sm" ng-click="byCity(page, from,toCity)" ng-model="toCity" ng-options="city for city in cities"></select>
        OrderBy:
        <select class="input-sm" ng-model="request.orderBy" ng-options="filter for filter in filters"></select>
        OrderType:
        <select class="input-sm" required="required" ng-model="request.orderType" ng-options="order for order in orders"></select>
        <label for="finished">Finished:</label>
        <input id="finished" type="checkbox" ng-model="finished">
        <label for="me" >Only me:</label>
        <input id="me" default="1" ng-click="onlyMe(page)" type="checkbox" ng-model="onlyMine">
        <label for="paging">Page</label>
        <input id="paging" class="input-sm" type="number" ng-model="page" min="1" placeholder="1">

        <button class="btn-sm btn-danger pull-right" ng-click="filter(page,request)">Filter</button>

    </form>
    <h2 class="text-center">
        Trips
    </h2>

    <div trip-directive class="container-fluid"></div>

</div>




