table{
    border-collapse: collapse;
}
thead{
    background: gray;
    color:white;
}
th{
    border: 1px solid black;
    font-weight: normal;
}
tr:nth-child(2n){
    background: lightgray;
}
td{
    border: 1px solid black;
}

select{
    width: 100px;
}

option{
    color:black;
    border: 1px solid red;
}