USE [master]
GO
CREATE DATABASE [MusicStore]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicStore]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[AlbumTitle] [nvarchar](50) NOT NULL,
	[AlbumYear] [int] NULL,
	[Producer] [nvarchar](50) NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistAlbums](
	[ArtistId] [int] NOT NULL,
	[AlbumId] [int] NOT NULL,
 CONSTRAINT [PK_ArtistAlbums] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC,
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[ArtistId] [int] IDENTITY(1,1) NOT NULL,
	[ArtistName] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[SongId] [int] IDENTITY(1,1) NOT NULL,
	[ArtistId] [int] NULL,
	[AlbumId] [int] NULL,
	[SongTitle] [nvarchar](50) NOT NULL,
	[SongYear] [int] NULL,
	[Genre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Songs] PRIMARY KEY CLUSTERED 
(
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([AlbumId], [AlbumTitle], [AlbumYear], [Producer]) VALUES (1, N'Eros', 1997, N'BMG')
INSERT [dbo].[Albums] ([AlbumId], [AlbumTitle], [AlbumYear], [Producer]) VALUES (2, N'Unchain My Heart', 1987, N'EMI')
INSERT [dbo].[Albums] ([AlbumId], [AlbumTitle], [AlbumYear], [Producer]) VALUES (3, N'One Night Only', 1998, N'Polydor')
SET IDENTITY_INSERT [dbo].[Albums] OFF
INSERT [dbo].[ArtistAlbums] ([ArtistId], [AlbumId]) VALUES (1, 1)
INSERT [dbo].[ArtistAlbums] ([ArtistId], [AlbumId]) VALUES (2, 4)
INSERT [dbo].[ArtistAlbums] ([ArtistId], [AlbumId]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([ArtistId], [ArtistName], [Country], [DateOfBirth]) VALUES (1, N'Eros Ramazzotti', N'Italy', CAST(0x00005B0E00000000 AS DateTime))
INSERT [dbo].[Artists] ([ArtistId], [ArtistName], [Country], [DateOfBirth]) VALUES (2, N'Rod Stewart', N'USA', CAST(0x0000403D00000000 AS DateTime))
INSERT [dbo].[Artists] ([ArtistId], [ArtistName], [Country], [DateOfBirth]) VALUES (3, N'Joe Cocker', N'USA', CAST(0x00003F5200000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Artists] OFF
SET IDENTITY_INSERT [dbo].[Songs] ON 

INSERT [dbo].[Songs] ([SongId], [ArtistId], [AlbumId], [SongTitle], [SongYear], [Genre]) VALUES (1, 1, 1, N'Terra promessa', 1997, N'Pop')
INSERT [dbo].[Songs] ([SongId], [ArtistId], [AlbumId], [SongTitle], [SongYear], [Genre]) VALUES (2, 1, 1, N'Una storia importante', 1997, N'Pop')
INSERT [dbo].[Songs] ([SongId], [ArtistId], [AlbumId], [SongTitle], [SongYear], [Genre]) VALUES (3, 1, 1, N'Adesso tu', 1997, N'Pop')
SET IDENTITY_INSERT [dbo].[Songs] OFF
SET ANSI_PADDING ON

GO
ALTER TABLE [dbo].[Artists] ADD  CONSTRAINT [UK_Artists_ArtistName] UNIQUE NONCLUSTERED 
(
	[ArtistName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArtistAlbums]  WITH CHECK ADD  CONSTRAINT [FK_ArtistAlbums_Albums] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([AlbumId])
GO
ALTER TABLE [dbo].[ArtistAlbums] CHECK CONSTRAINT [FK_ArtistAlbums_Albums]
GO
ALTER TABLE [dbo].[ArtistAlbums]  WITH CHECK ADD  CONSTRAINT [FK_ArtistAlbums_Artists] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
GO
ALTER TABLE [dbo].[ArtistAlbums] CHECK CONSTRAINT [FK_ArtistAlbums_Artists]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Albums] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([AlbumId])
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Albums]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Artists] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Artists]
GO
USE [master]
GO
