<table class="table table-striped table-hover">
    <thead>
    <tr class="warning">
        <th><a href="" ng-click="predicate = 'driverName';"> Driver name </a>
            (<a href="" ng-click="predicate = '-driverName';">^</a>)
        </th>
        <th><a href="" ng-click="predicate = 'from';"> From </a>
            (<a href="" ng-click="predicate = '-from';">^</a>)</th>
        <th><a href="" ng-click="predicate = 'to';"> To </a>
            (<a href="" ng-click="predicate = '-to';">^</a>)</th>
        <th><a href="" ng-click="predicate = 'departureDate';"> Departure time </a>
            (<a href="" ng-click="predicate = '-departureDate';">^</a>)</th>
        <th ng-show="isAuthenticated">Is mine?</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="trip in trips | orderBy:predicate " trip="trip" class="info">
        <td> <a href="#/drivers/{{ trip.driverId }}">{{trip.driverName }}</a></td>
        <td>{{ trip.from }}</td>
        <td>{{ trip.to }}</td>
        <td> <a href="#/trips/{{ trip.id }}">{{ trip.departureDate | date:'medium' }}</td>
        <td ng-show="isAuthenticated">{{ trip.isMine }}</td>
    </tr>
    </tbody>
</table>
